@import'../utils/mixines';
@import'../utils/variables';
.card{
position: relative;
display: inline;
width: 90%;
box-shadow: $box-shadow;
 margin: 0px 30px 20px  30px;
 border-radius: 10px 10px 10px 10px;
 background-color: $background_card;
 cursor: pointer;
    .image_resto{
        @include  img_resto;
        @include border_img;
        z-index: 1;
    }
  .text_nouveau{
z-index: 2;
  }
    .infos{
      padding: 5px 10px 10px 10px;
      display: flex;
      flex-direction: column;
      width: 70%;
       .nom_resto{
            margin-bottom: 5px;
        }
    }
    .i{
        width: 10%;
    }
}
