@import'../utils/variables';
@import'../utils/mixines';
@import'../utils/animations';

%icon{
    display: block;
    color: transparent;
    background-clip: text;
    background-image: $background_gradient;
    opacity: 0;
    position: relative;
    animation:  full-scale 500ms 100ms forwards ;
    // pour qu-il remplit progressivement
    transform: scale(0);
	transform-origin: bottom;
}
        .icon_favorit{
            position: absolute;
            right: 10px;
            bottom: 18px;
            font-size: x-large;
            .fas{
                display: none;
            }
            &:hover{
                .far{
                    display: none;
                }
                .fas{
                    @extend  %icon;
                    opacity: 1;
                   
                }

            }
        }
    
